<footer class="footer">
	<div class="container-fluid">
		<h4 class="footerleft">
			<a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a> |
			<a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google"></i></a> | 
			<a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a> 
		</h4>
		<h4 class="footerright text-muted">Bootcamp Latam | Santiago-Chile | 2015</h4>
		<div style="clear: both"></div>
	</div>

</footer>